@import "../../_base.scss";

// Drak Mode
.video {
  margin-bottom: 1rem;
  padding: 0.7rem;

  font-weight: 500;
  font-size: 0.9rem;

  cursor: pointer;

  &__top {
    margin-bottom: 0.5rem;
    position: relative;

    .lazy-load-image-background {
      width: 100%;
    }

    img {
      width: 100%;
    }
    &__duration {
      position: absolute;

      bottom: 0.3rem;
      right: 0.3rem;

      padding: 0.2rem;
      background: #080808ec;
      border-radius: 3px;
    }
  }

  &__title {
    margin-bottom: 0.1rem;
    color: #fff;
    //we need title in single line so we added below code which will handle it
    //we need this feature again and again so we will use sass mixins instead of this
    // -you can refer mixin as sass function()
    // overflow: hidden;
    // display: -webkit-box;
    // -webkit-line-clamp: 1;
    // -webkit-box-orient: vertical;
    @include line-clamp(2);
  }

  &__details {
    display: flex;
    align-items: center;
  }

  &__channel {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;

    img {
      width: 36px;
      height: 36px;

      border-radius: 50%;
      margin-right: 0.5rem;
      cursor: pointer;
    }

    p {
      margin-bottom: 0;
    }
  }
}

// Light Mode
.video.light {
  background-color: #F3F3F3;
  span{
    border: none;
    background: transparent;

    &:hover{
      background: transparent;
    }
  }

  .video__title{
    color: $light-mode-text-color;
    font-weight:bold;
  }

  .video__details{
    span{
      color:rgb(96, 96, 96);
    }
  }

  .video__channel{
    p{
      color:rgb(96, 96, 96);
    }
  }

}

